@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  height: 100vh;
  width: 100vw;
}
/* HEADER */

header {
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  font-family: "system-ui";
}

header svg {
  width: 70px;
  height: 80px;
  fill: #5c48d3;
  margin-left: 111px;
}

header span {
  font-size: 48px;
  font-weight: 300;
  margin-left: 65px;
}

/* MAIN */

main section {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 150px;
}

main .minus-plus {
  display: flex;
  gap: 10px;
}

main button {
  border: inherit;
  background-color: inherit;
  height: 150px;
  width: 150px;
  cursor: pointer;
  fill: black;
}

main .minus {
  margin-top: 65px;
}
main svg {
  margin-left: 42px;
  margin-top: 45px;
}

main .counter {
  width: 150px;
  height: 150px;
  background-color: #5c48d3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main span {
  font-size: 96px;
  font-family: "Montserrat";
  color: white;
}

/* RESET */

main .reboot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

main .reset {
  width: 150px;
  height: 60px;
  background: #5c48d3;
  border-radius: 15px;
}

main p {
  font-size: 32px;
  font-family: "Montserrat";
  color: white;
}

/* FOOTER */

footer {
  height: 64px;
  margin-top: 55px;
  font-family: "Montserrat";
}

.react,
a {
  text-decoration: none;
  font-weight: bold;
  color: #5c48d3;
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

footer div {
  align-items: center;
}
